/ExampleJava/nbproject/private/
/ManagerProductSrote/nbproject/private/
/ManagerProductStore/nbproject/private/
/ManagerProductStore/build/
/FireFlane/nbproject/private/
/FireFlane/build/
/FirePlaneGames/build/